{{if and .IsProcessGitViewer .ProcessGitViewerPayload}}
  <div class="processgit-viewer" data-global-init="initRepoProcessGitViewer">
    <div id="processgit-viewer-mount"></div>

    <script type="application/json" id="processgit-viewer-payload">
      {{JsonUtils.Encode .ProcessGitViewerPayload}}
    </script>
  </div>
{{end}}
