services:
  processgit:
    container_name: processgit
    restart: unless-stopped
    build:
      context: ..
      dockerfile: deploy/Dockerfile.processgit
    image: processgit:0.1
    ports:
      - "18080:3000"
      - "12222:22"
    volumes:
      - processgit-data:/data
    environment:
      USER_UID: "1000"
      USER_GID: "1000"
      APP_NAME: "ProcessGit: Git for Processes"

volumes:
  processgit-data:

